Pool Tab
[
    {
        "id": "9bc9a0f7.0455f8",
        "type": "tab",
        "label": "Pool",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b828579.bc3bea8",
        "type": "Tasmota Sensor",
        "z": "9bc9a0f7.0455f8",
        "broker": "1f697ae0.735f35",
        "device": "sensors/pwr/PoolPump",
        "name": "PoolPump",
        "outputs": 6,
        "uidisabler": false,
        "fullTopic": "",
        "cmndPrefix": "",
        "statPrefix": "",
        "telePrefix": "",
        "qos": 1,
        "retain": false,
        "rules": [
            "ENERGY.Voltage",
            "ENERGY.Current",
            "ENERGY.Power",
            "ENERGY.Today",
            "ENERGY.Yesterday",
            "ENERGY.Total"
        ],
        "outputTopic": "PoolPump",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "1df41ae9.2b29fd"
            ],
            [
                "a2fcc80d.a88388"
            ],
            [
                "f8bf2a90.fbcc48",
                "08317bf521834e8e"
            ],
            [
                "5b1f3ffb.41a4c",
                "04f6a9a5c2f8a3c8"
            ],
            [
                "cb5f43ca.1db24",
                "2bda44145ecf5cb0"
            ],
            [
                "58e5ff0b.444a18"
            ]
        ]
    },
    {
        "id": "7d3d1969.330bf",
        "type": "inject",
        "z": "9bc9a0f7.0455f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "b828579.bc3bea8"
            ]
        ]
    },
    {
        "id": "1df41ae9.2b29fd",
        "type": "ui_text",
        "z": "9bc9a0f7.0455f8",
        "group": "77205bf1.0ec26c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "a2fcc80d.a88388",
        "type": "ui_text",
        "z": "9bc9a0f7.0455f8",
        "group": "77205bf1.0ec26c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 840,
        "y": 80,
        "wires": []
    },
    {
        "id": "f8bf2a90.fbcc48",
        "type": "ui_text",
        "z": "9bc9a0f7.0455f8",
        "group": "77205bf1.0ec26c",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Power",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "5b1f3ffb.41a4c",
        "type": "ui_text",
        "z": "9bc9a0f7.0455f8",
        "group": "77205bf1.0ec26c",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "kWh Today",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "cb5f43ca.1db24",
        "type": "ui_text",
        "z": "9bc9a0f7.0455f8",
        "group": "77205bf1.0ec26c",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "kWh Yesterday",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "58e5ff0b.444a18",
        "type": "ui_text",
        "z": "9bc9a0f7.0455f8",
        "group": "77205bf1.0ec26c",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "kWh Total",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "08317bf521834e8e",
        "type": "ui_chart",
        "z": "9bc9a0f7.0455f8",
        "name": "",
        "group": "77205bf1.0ec26c",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Pool Watts",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "450",
        "ymax": "850",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "999921cd1f913467",
        "type": "ui_button",
        "z": "9bc9a0f7.0455f8",
        "name": "",
        "group": "77205bf1.0ec26c",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Toggle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "toggle",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "4cb367eaa60023e2"
            ]
        ]
    },
    {
        "id": "4cb367eaa60023e2",
        "type": "mqtt out",
        "z": "9bc9a0f7.0455f8",
        "name": "Pump",
        "topic": "cmnd/sensors/pwr/PoolPump/Power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7750bcb.fd7ad44",
        "x": 260,
        "y": 380,
        "wires": []
    },
    {
        "id": "c4fb90376bdab69c",
        "type": "mqtt in",
        "z": "9bc9a0f7.0455f8",
        "name": "",
        "topic": "stat/sensors/pwr/PoolPump/RESULT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7750bcb.fd7ad44",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "8467b575ea22af30"
            ]
        ]
    },
    {
        "id": "8467b575ea22af30",
        "type": "change",
        "z": "9bc9a0f7.0455f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.POWER",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "c55a78a9651760a2"
            ]
        ]
    },
    {
        "id": "c55a78a9651760a2",
        "type": "ui_led",
        "z": "9bc9a0f7.0455f8",
        "order": 1,
        "group": "77205bf1.0ec26c",
        "width": "4",
        "height": "1",
        "label": "Pump",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "04f6a9a5c2f8a3c8",
        "type": "function",
        "z": "9bc9a0f7.0455f8",
        "name": "Cost Today ",
        "func": "var cost = msg.payload * 0.16137;\nmsg.payload = cost;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "7b8cbd3fccb89ef9"
            ]
        ]
    },
    {
        "id": "2bda44145ecf5cb0",
        "type": "function",
        "z": "9bc9a0f7.0455f8",
        "name": "Yesterdays Cost",
        "func": "var cost = msg.payload * 0.16137;\nmsg.payload = cost;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 320,
        "wires": [
            [
                "c7cd0f259db45ffb"
            ]
        ]
    },
    {
        "id": "7b8cbd3fccb89ef9",
        "type": "ui_text",
        "z": "9bc9a0f7.0455f8",
        "group": "77205bf1.0ec26c",
        "order": 9,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Cost Today",
        "format": "{{msg.payload|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "c7cd0f259db45ffb",
        "type": "ui_text",
        "z": "9bc9a0f7.0455f8",
        "group": "77205bf1.0ec26c",
        "order": 10,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Cost Yesterday",
        "format": "{{msg.payload|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "1f697ae0.735f35",
        "type": "tasmota-mqtt-broker",
        "name": "pi32131",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "77205bf1.0ec26c",
        "type": "ui_group",
        "name": "Pool",
        "tab": "950c59d.5c5e4a8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7750bcb.fd7ad44",
        "type": "mqtt-broker",
        "name": "mqtt_pi",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "950c59d.5c5e4a8",
        "type": "ui_tab",
        "name": "Pool",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
